
body{
    color: #3F3331;
    background: #7A6E61;
    font-family: 'Sanchez', serif;
}


/*******************/
/*quiz page style*/
/*******************/
#quiz-page-wrap{
    margin: 0 auto;
    background-color: white;
    margin:8vh 16vw;
    padding: 4vh 8vw 12vh 4vw;
    border-radius: 1%;
    margin-top:16vh;
    margin-bottom:16vh;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 3vw;
}
h1{
    text-align: center;
}
.green-rect{
    background-color: #83B796;
    height: 1.5vh;
    width: 6vw;
    border-radius: 10%;
}
.submitbtn{
    font-family: 'Sanchez', serif;
    transform: translateX(24vw);
    margin-top: 8vh;
    padding: 1vh 2vw;
}
.submitbtn:hover{
    background-color: #83B796;
}

/*******************/
/*result page style*/
/*******************/
#result-page-wrap{
    margin: 0 auto;
    width: fit-content;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4vh 10vw 12vh 10vw;
    border-radius: 3%;
    text-align: center;
}
#page-wrap h1{
    text-align: center;
}
.results{
    line-height: 2;
}
#result-header{
    margin:0;
    width: 130%;
    transform: translateX(-3vw);
}
textarea{
    max-width: 100%;
}

/***************/
/*mobile style*/
/**************/
@media only screen and (max-width:490px){
    #result-header{
        transform: translateX(-8vw);
    }
    .green-rect{
        height: 1vh;
    }
    html{
        overflow-x: hidden;
    }
    #quiz-page-wrap{
        margin:10vh 8vw;
    }
    textarea{
        transform: translateX(-3vw);
    }
    .submitbtn{
        margin-left: 2vw;
    }
}